body {
    background-image: url('Nissan-R32-GT-R-Side-Profile-Sparesbox-THELOWDOWN.jpeg');
}
.logo{
    width: 15%;
    height: 15%;
}
.header{
    color: brown;
}
.somethingelse{
    width: 25%;
    height: 25%;
}